
.footer {
    width: 1440px;
    height: 304px;
    background-color: #2F2F2F;
    padding: 48px 96px 48px 120px;
}
.footer__column {
    margin: 12px 120px 60px 0px;
}
p, p>a {
    color: rgba(255, 255, 255, 0.8);
}
h6 {
    color: white;
}