@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.text {
    line-height: 19px;
    white-space: nowrap;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.title {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
}


.footer {
    display: flex;
    width: 1440px;
    height: 304px;
    background-color: #2F2F2F;
    padding: 48px 96px 48px 120px;
}

.footer__column {
    display: flex;
    flex-direction: column;
    margin: 12px 120px 60px 0px;
}

.footer__title {
    composes: title;

    padding: 0px 0px 25px 0px;
}

.footer__text {
    display: flex;
    flex-direction: column;
    composes: text;
    padding: 0px 0px 16px 0px;
}

.footer__items {
    margin: 0px 0px 0px 0px;
}

.footer__item_text {
    composes: text;
    margin: 0px 34px 28px 0px;

}

.footer__item_text a {
    color: rgba(255, 255, 255, 0.8);

}

.footer__items img {
    margin: 0px 20.58px 0px 0px;
}

.img_block {
    margin: -12px 96.6px 0px 0px;
}

.img_block img {
    margin: 0px 0px 32.96px 0px;
}

.footer__row {
    display: flex;
}